@charset "UTF-8";
/* ================= start =========================  */
*{margin: 0; padding:0; font-family:'Noto Sans KR', sans-serif!important;}
li{list-style: none;}
a{text-decoration: none; color:#000; display: inline-block;}
.center-box{position: relative; max-width:1260px; margin: 0 auto;}
.blind{display: none;}
/* h1, h2, h3, h4, h5, h6{font-weight: normal;} */
section,footer{display: none;}
/* ================ header(타이틀 메뉴) start =========================  */
header{position:fixed; width:100%; height:70px; line-height: 70px;}
header *{color:white;}
header::before{
  content: '';
  position: absolute;
  width:100%;
  height: 70px;
  background: #000;
  opacity: 0.4;
}
header h1{
  display: inline-block;
  max-width:210px;
  max-height:80px;
  margin-left:30px;
  font-size: 50px;
  float: left;
}
header .wrap{position:relative; float:right;}
.wrap .myweb-menu{}
.wrap .myweb-menu li{float:left; margin: 0 20px;}
.wrap .myweb-menu li:hover a{color:#006564;}
.wrap .myweb-menu li a{height:70px; font-size:20px;}
.wrap .myweb-menu li a::after{
  content: '';
  display: none;
  height:5px;
  background: #006564;
  margin-top: -10px;
}
.wrap .myweb-menu li:hover a::after{display: block;}
#icon-menu{display: none;}
/* ================ header(타이틀 메뉴) end =========================  */
/* ================ section (본론) start =========================  */
section{height:100%;}
article{height:100%;}
/* ================ section (본론) end =========================  */
