/* 테블릿환경 0~990px */
@media screen and (max-width:990px){
  /*========== icon 아이콘 ========== */
.icon{
  background: url(../img/sprite-mo.png) no-repeat;
  display: inline-block;
}
.icon-menu{width:50px; height:50px; background-position:-25px -129px; }
/* 테블릿환경 0~990px end */
  /* 모바일 0~767px */
/* ==================  header s (utility)  =======================  */
@media screen and (max-width:767px){}
