@charset "UTF-8";
@media screen and (max-width: 40em) {.slide .word {font-size:25px;}}
.st-panel > p {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 55%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}
